
*{margin: 0; padding: 0; box-sizing: border-box;}

html {
  scroll-behavior: smooth;
  font-size: 10px;
  width: 100%;
}

body {
  width: 100%;
  margin: 0;
  background: #565759;
  overflow-y: auto;
}

